oke_worker_node_image_ids = {
  "Oracle-Linux-8.10-2026.02.28-0-OKE-1.33.10-1402" = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaasa4pvuytqrw6yrbvu64546h5kveil6pi6a25jqt2w6pbu5mddcjq"
}

clusters = {
  c = {
    compartment_name   = "dev"
    name               = "cluster"
    vcn_name           = "vcn"
    kubernetes_version = "v1.33.1"
    cni_type           = "OCI_VCN_IP_NATIVE"
    endpoint_config = {
      subnet_name          = "api_endpoint"
      is_public_ip_enabled = false
    }
    options = {
      service_lb_subnet_names = ["svcs_lb"]
      open_id_connect_discovery = {
	is_open_id_connect_discovery_enabled = true
      }
    }
  }
}

node_pools = {
  n = {
    cluster_name       = "c"
    compartment_name   = "dev"
    kubernetes_version = "v1.33.1"
    name               = "pool"
    node_source_details = {
      image_name  = "Oracle-Linux-8.10-2026.02.28-0-OKE-1.33.10-1402"
      source_type = "IMAGE"
    }
    cloud_init = [
      {
	content_type = "text/cloud-config"
	filename     = "userdata/oke-copyfail-ksplice.yaml"
      }
    ]
    node_config_details = {
      node_pool_pod_network_option_details = {
	cni_type          = "OCI_VCN_IP_NATIVE"
	max_pods_per_node = 31
	pod_subnet_names  = ["nodes"]
      }
      placement_configs = [
	{
	  availability_domain = 1
	  subnet_name         = "nodes"
	},
	{
	  availability_domain = 2
	  subnet_name         = "nodes"
	},
	{
	  availability_domain = 3
	  subnet_name         = "nodes"
	}
      ]
      size = 1
    }
    node_eviction_node_pool_settings = {
      eviction_grace_duration              = "PT1M"
      is_force_delete_after_grace_duration = true
    }
    node_shape     = "VM.Standard.E3.Flex"
    ssh_public_key = "ssh-rsa ..."
  },
}

addons = {
  certmanager = {
    cluster_name = "c"
    addon_name   = "CertManager"
    configurations = {
      numOfReplicas = 1
    }
  }
  nic = {
    cluster_name              = "c"
    addon_name                = "NativeIngressController"
    compartment_name          = "dev"
    load_balancer_subnet_name = "svcs_lb"
    configurations = {
      numOfReplicas = 2
    }
  }
  weblogic = {
    cluster_name = "c"
    addon_name   = "WeblogicKubernetesOperator"
    configurations = {
      numOfReplicas = 1
    }
  }
  autoscaler = {
    cluster_name     = "c"
    addon_name       = "ClusterAutoscaler"
    min_nodes        = 2
    max_nodes        = 4
    node_pool_name   = "n"
    node_pool_tags   = { ca = "ac" }
    compartment_name = "dev"
    configurations   = {}
  }
  istio = {
    cluster_name = "c"
    addon_name   = "Istio"
    configurations = {
      enableIngressGateway = true
    }
  }
}
