vcns = {
  vcn = {
    cidr_blocks      = ["10.0.0.0/16"]
    display_name     = "vcn"
    dns_label        = "vcn"
    compartment_name = "dev"
    is_ipv6enabled   = true
  },
}

internet_gateways = {
  ig = {
    vcn_name = "vcn"
  },
}

nat_gateways = {
  ng = {
    display_name = "ng"
    vcn_name     = "vcn"
  },
}

service_gateways = {
  sg = {
    display_name = "sg"
    vcn_name     = "vcn"
  },
}

subnets = {
  svcs_lb = {
    display_name               = "svcs_lb"
    cidr_block                 = "10.0.20.0/24"
    dns_label                  = "svcslb"
    prohibit_public_ip_on_vnic = false
    sl_name                    = "svcs_lb"
    rt_name                    = "public"
    vcn_name                   = "vcn"
    compartment_name           = "dev"
  },
  nodes = {
    display_name               = "nodes"
    cidr_block                 = "10.0.10.0/24"
    dns_label                  = "nodes"
    prohibit_internet_ingress  = true
    prohibit_public_ip_on_vnic = true
    sl_name                    = "nodes"
    rt_name                    = "private"
    vcn_name                   = "vcn"
    compartment_name           = "dev"
  },
  api_endpoint = {
    display_name               = "api_endpoint"
    cidr_block                 = "10.0.0.0/28"
    dns_label                  = "apiendpoint"
    prohibit_internet_ingress  = true
    prohibit_public_ip_on_vnic = true
    sl_name                    = "api_endpoint"
    rt_name                    = "private"
    vcn_name                   = "vcn"
    compartment_name           = "dev"
  },
}
