source_ids = {
  "Oracle-Linux-9.6-2025.09.16-0" = "ocid1.image.oc1.eu-frankfurt-1.aaaaaaaa6n45jpagnnbup4rfglrbr6g2wk4mwna72tfnsmxcyor5poevokha"
}

instances = {
  bastion = {
    agent_config = {
      are_all_plugins_disabled = false
      is_management_disabled   = false
      is_monitoring_disabled   = false
    }
    compartment_name    = "dev"
    availability_domain = 1
    create_vnic_details = {
      assign_public_ip = true
      subnet_name      = "svcs_lb"
    }
    display_name = "bastion"
    shape        = "VM.Standard.E5.Flex"
    shape_config = {
      memory_in_gbs = 16
      ocpus         = 2
    }
    source_details = {
      source_name = "Oracle-Linux-9.6-2025.09.16-0"
      source_type = "image"
    }
    state = "RUNNING"
    ssh_public_keys = [
      "ssh-rsa ..."
    ]
    managed_cluster = "c"
    cloud_init = [
      {
	content_type = "text/cloud-config"
	filename     = "userdata/helm.yaml.tftpl"
	vars = {
	  filename = "kubeconfig"
	}
      },
      {
	content_type = "text/cloud-config"
	filename     = "userdata/karpenter.yaml.tftpl"
      }
    ]
  }
}
