karpenter = {
  enabled                  = true
  chart_version            = "1.1.0"
  cluster_name             = "c"
  cluster_compartment_name = "dev"
  vcn_compartment_name     = "dev"
  oci_vcn_ip_native        = true
  bastion_instance_name    = "bastion"
  node_pool_name           = "n"

  nodepool = {
    name                     = "karpenter-general"
    cpu_limit                = 128
    memory_limit             = "512Gi"
    expire_after             = "Never"
    termination_grace_period = "120m"
    capacity_types           = ["on-demand"]
    instance_shapes          = ["VM.Standard.E5.Flex"]
    consolidation_policy     = "WhenEmpty"
    consolidate_after        = "60m"
    budget_nodes             = "5%"
  }

  ocinodeclass = {
    name = "karpenter-general"
    shape_configs = [
      { ocpus = 8, memory_in_gbs = 32 },
      { ocpus = 16, memory_in_gbs = 64 },
    ]
    image_config = {
      image_type        = "OKEImage"
      os_filter         = "Oracle Linux"
      os_version_filter = "8"
    }
    primary_subnet_name          = "nodes"
    pod_subnet_names             = ["nodes"]
    secondary_vnic_ip_count      = 32
    use_same_node_and_pod_subnet = true
  }

  repro = {
    enabled       = true
    replicas      = 50
    cpu           = "2"
    memory        = "4Gi"
    image         = "busybox:1.36"
    sleep_seconds = 3600
  }
}
