settings:
  clusterCompartmentId: "${cluster_compartment_id}"
  vcnCompartmentId: "${vcn_compartment_id}"
  apiserverEndpoint: "${apiserver_endpoint}"
  ociVcnIpNative: ${oci_vcn_ip_native}
  ipFamilies:
${indent(4, ip_families_yaml)}
